.order-form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .order-form-container h3 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
    }

    .order-form-container .form-group {
        margin-bottom: 20px;
    }

        .order-form-container .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333;
        }

    .order-form-container .form-control {
        width: 100%;
        padding: 10px;
        margin-right: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

        .order-form-container .form-control:focus {
            border-color: #007bff;
            outline: none;
        }

    .order-form-container .no-resize {
        resize: none;
    }

    .order-form-container .btn {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
    }

        .order-form-container .btn:hover {
            background-color: #0056b3;
        }

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.root-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.orders-container {
    margin-top: 20px; /* Отступ от формы */
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px; /* Скругленные края */
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

    .order-table th, .order-table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd; /* Разделительные линии */
    }

    .order-table th {
        background-color: #f2f2f2; /* Цвет фона заголовка */
    }

.tooltip-custom {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

    .tooltip-custom .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%; /* Позиция сверху иконки */
        left: 50%;
        margin-left: -100px; /* Смещение влево на половину ширины */
        opacity: 0;
        transition: opacity 0.3s;
    }

        .tooltip-custom .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%; /* Снизу от подсказки */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }

    .tooltip-custom:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

.text-field-with-hint {
    display: flex;
    align-items: center;
}